
// Colours
//$pomegranate:     #f44e21;
$white:           #ffffff;
$wild-sand:       #f6f6f6;
$gallery:         #eeeeee;
$alto:            #dddddd;
$silver:          #cccccc;
$silver-chalice:  #b0b0b0;
$tundora:         #444444;
$mine-shaft:      #333333;
$black:           #000000;
$boulder:         #767676;
$black:           #040404;
$trinidad:        #dd370a;
$pomegranate:     $trinidad;

$alizarin-crimson:     rgb(214, 37, 47);     //#D6252F;
$firefly:              rgb(13, 45, 56);      //#0D2D38;


// Bootstrap Overrides
body {
  position: relative;
}

label {
  font-weight: normal;
}

.btn {
  background-color: $alizarin-crimson;
  border-color: $alizarin-crimson;
  text-transform: uppercase;
  font-weight: normal;
  color: $white;

  &:hover,
  &:focus,
  &:active,
  &:focus:active, {
    background-color: darken($alizarin-crimson, 10);
    border-color: darken($alizarin-crimson, 10);
    color: $white;
  }

  &.btn-default {
    background-color: $white;
    border-color: $silver;
    color: $mine-shaft;
  }
}


.flex-row {
  display: flex;
  align-items: stretch;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// Page structure
.content-area {
  padding-top: 80px;
  margin-left: 250px;
  width: calc(100% - 250px); // full-width minus sidebar width
  background-color: $white;
}

.content {
  padding: 15px 30px;
}

.header {
  transition: .2s all ease;
  border-bottom: 1px solid $silver;

  &.jumbotron {
    padding: 48px 60px;
    border-radius: 0;
  }

  h1 {
    margin-top: 0;
    font-size: 3vw;
    line-height: 1;
    transition: .2s all ease;
  }
}

.intro {
  display: flex;
  align-items: stretch;

  .lead {

    &::first-line {
      font-size: 125%;
      line-height: 2;
    }
  }

  .start-box {
    background-color: $gallery;

    .start-button-wrapper {
      text-align: center;
    }

    .btn {
      margin-bottom: 0.5em;
      cursor: pointer;
    }
  }
}

.feature-icon {
  font-size: 4vw;
  text-align: center;
  color: $silver;
  vertical-align: text-top;
}

hr {
  &.thick {
    border-top-width: 2px;
    border-top-color: $silver;
    margin: 60px 0;
  }
}

h1, h2, h3, h4, h5, h6 {

  small {
    color: $boulder;
  }
}
