#imageHistory {
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  transition: all 1s;

  &.inactive {
    bottom: -100px;
  }

  .history_inner {
    width: 100%;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    height: 100px;
    position: relative;
    white-space: nowrap;

    .history_image {
      width: 100px;
      max-width: 100px;
      display: inline-block;
      margin: 0 0.5em;
      overflow: hidden;
      position: relative;
      height: calc(100px - 0.5em);
      max-height: calc(100px - 0.5em);

      a {
        position: absolute;
        top: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        display: block;
        height: calc(100px - 0.5em);
        max-height: calc(100px - 0.5em);
        width: 100%;
        max-width: 100%;
        cursor: pointer;
      }
    }

    .history_close {
      position: fixed;
      margin-top: 0;
      display: inline-block;
      z-index: 10;

      a {
        color: $pomegranate;
        cursor: pointer;
        font-size: 2em;
      }
    }
  }
}