// Sitback footer

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 30px;
  background-color: $black;
  color: $white;
  font-size: 16px;
  line-height: 1.8em;

  & > div {
    align-self: bottom;
  }

  a {
    color: $pomegranate;
  }
}

.address {
  order: 1;
}

.copyright {
  margin-top: 20px;
  font-weight: 300;
  order: 2
}

.contact {
  margin-top: 20px;
  order: 3;

  img {
    height: 16px;
    padding-right: 10px;
  }
}
