//
// Footer styles
// --------------------------------------------------

.copyright {
  background-color: $white;
  padding: 5px;

  p {
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 14px;
  }
}
