//
// Hubspot form styling
// --------------------------------------------------

.hs-form {
  fieldset {
    &.form-columns-1 {
      input {
        &.hs-input {
          width: 100%;
        }
      }
    }
  }
}

.hs-form-field,
.hs_submit {
  @extend %form-group;
}

.inputs-list {
  @extend %list-unstyled;
}

.hs-form-radio,
.hs-form-checkbox {
  @extend %radio-checkbox-input;
}

.hs-button {
  @extend %button;
}

.hbspt-request-a-call {
  .submitted-message {
    margin-top: 10px;
    margin-left: .5rem;
  }
}
